[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
fabric = "*"

[packages]
django = "==2.2.21"
markdown = "*"
faker = "*"
django-pure-pagination = "*"
elasticsearch = ">=2,<3"
gunicorn = "*"

[requires]
python_version = "3.6"
