{% extends 'base.html' %}
{% block middle-page %}
  <div class="col-md-12">
    <article class="about-site">
      <h2>关于本站</h2>
      <hr>
      <div>
        <p>
          本站成立于2017年12月9日，旨在记录和分享自己成长过程所学的知识和心得体会。<br>
          博客内容以技术为主，侧重Python和机器学习方向。除此之外，也会有一些生活随笔。
        </p>
      </div>
      <h2>关于内容</h2>
      <hr>
      <div>
        <p>
          版权声明: 「署名-非商业性使用-禁止演绎 3.0 国际」
          <a href="https://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">CC BY-NC-ND 3.0</a><br>
          所有文章非特别说明皆为原创。转载时请务必注明文章出处，谢谢合作。<br>
          文章皆为个人观点，不代表所服务的公司。<br>
        </p>
      </div>
      <h2>技术架构</h2>
      <hr>
      <div>
        <p>
          本站基于Django和Bootstrap建设。参考的教程有：
        <ul>
          <li>Django 基础教程：
            <a href="https://code.ziqiangxuetang.com/django/django-tutorial.html" target="_blank">
              https://code.ziqiangxuetang.com/django/django-tutorial.html
            </a>
          </li>
          <li>Django 博客教程：
            <a href="https://www.zmrenwu.com/courses/hellodjango-blog-tutorial/" target="_blank">
              https://www.zmrenwu.com/courses/hellodjango-blog-tutorial/
            </a>
          </li>
          <li>
            Bootstrap 教程：
            <a href="http://www.runoob.com/bootstrap/bootstrap-tutorial.html" target="_blank">
              http://www.runoob.com/bootstrap/bootstrap-tutorial.html
            </a>
          </li>
        </ul>
        </p>
      </div>
      <h2>本站源码</h2>
      <hr>
      <div>
        <p>
        <ul>
          <li>
            Github地址：
            <a href="https://github.com/twopoint12/myblog" target="_blank">
              https://github.com/twopoint12/myblog
            </a>
          </li>
        </ul>
        </p>
      </div>
      <h2>更新记录</h2>
      <hr>
      <div>
        <p>
          2017年12月9日
        <ul>
          <li>网站正式上线</li>
        </ul>
        </p>
        <p>
          2018年10月23日
        <ul>
          <li>增加了同一IP、同一篇博客只能点一次赞的限制</li>
        </ul>
        </p>
      </div>
    </article>
  </div>
{% endblock middle-page %}