{% extends 'base.html' %}
{% block middle-page %}
  <div class="col-md-3 about-me-left">
    <div><img src="https://xuansblog.oss-cn-shanghai.aliyuncs.com/pictures/avatar.jpg" class="img-thumbnail"></div>
    <P class=" text-left nickname"><strong>☆玄☆</strong></P>
    <p class="text-muted"><em>Stay hungry. Stay foolish.</em></p>
  </div>
  <div class="col-md-9 about-me-right">
    <article class="about-me-content">
      <h2>关于我</h2>
      <hr>
      <div>
        <p>
          网名☆玄☆，真名不详（笑）。90后程序员一枚，热爱编程，喜欢探索新事物。
          希望在技术的道路上不断精进，越走越远。
        </p>
      </div>
      <h2>联系方式</h2>
      <hr>
      <div>
        <p>
        <ul>
          <li>Email: <a href="mailto:abc.jack@126.com">abc.jack@126.com</a></li>
          <li>QQ: 545017679</li>
          <li>GitHub: <a href="https://github.com/twopoint12" target="_blank">https://github.com/twopoint12</a></li>
        </ul>
        </p>
      </div>
    </article>
  </div>
{% endblock middle-page %}